# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
crypto-price-react/node_modules
crypto-price-node/node_modules
crypto-price-react/.pnp
crypto-price-react/.pnp.js

# testing
crypto-price-react/coverage

# production
crypto-price-react/build

# misc
crypto-price-react/.DS_Store
crypto-price-react/.env.local
crypto-price-react/.env.development.local
crypto-price-react/.env.test.local
crypto-price-react/.env.production.local

crypto-price-react/npm-debug.log*
crypto-price-react/yarn-debug.log*
crypto-price-react/yarn-error.log*
