.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table img {
  width: 50px !important;
  height: auto !important;
}

.table > tbody > tr > td,
th {
  vertical-align: middle !important;
}

.container {
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.light-shadow {
  border-color: rgb(236, 239, 241);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px 0px rgba(236, 239, 241, 0.4);
}

.search-bar i {
  margin-right: 20px;
}

*:focus {
  outline: none !important;
}

textarea,
select,
input,
button {
  outline: none !important;
}

input {
  border: none !important;
  box-shadow: none !important;
}

.table th {
    border-top: none;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
